doctype html
html
  head
    link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
    script( src="/lib/angular/angular.min.js")
    script( src="/app/app.js")
    title
  body
    div(ng-app='appModule')
        .container
            h1 Find a Job Today!
            
            div(ng-controller='testCtrl')
                .list-group
                    a.list-group-item(href='#' ng-repeat="job in jobs")
                        h4.list-group-item-heading {{job.title}}
                        p.list-group-item-text {{job.description}}