doctype html
html
  head
    link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
    script( src="/lib/angular/angular.min.js")
    script( src="app/capp.js")
    title
  body
    div(ng-app='appModule')
        .container
            h1 Find a Job Today!